REPO_NAME="hello-service"
AUTHOR="Jon Doe"
EMAIL="jondoe@my-email.com"
DESCRIPTION="A sample micro service"
URL="https://jondoe.com"
#USERNAME="jondoe"
#TOKEN="github-token"
#PRIVATE="github-visiblity"
